      <section class=" panel header-panel">
            <div class="large-centered small-3 medium-6 large-6 columns">
              
                  <h1 class="large-centered" >ennkeypee</h1>

                  <ul class=" inline-list header-list">
                    <li>
                        <a class="active" href="/about/company">COMPANY</a>
                    </li>

                    <li>
                        <a href="/about/products">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="/about/services">SERVICES</a>
                    </li>
                    <li>
                        <a href="/about/tour">TOUR</a>
                    </li>
                    <li>
                        <a href="/about/values">VALUES</a>
                    </li>
                </ul>        
           
</div>

    </section>

<div class="main_body">
<div class="row">
   <div class="large-centered large-8 columns">
      <p><b>ennkeypee is a software products development company</b> with main concentration towards the user experience and unique looks. Here at ennkeypee, all we enn-gang members consider ourselves the designer first before considering Developers. We do beleive in inspiration but we want it just for the start of the project and thereon we handle the project ourselves.</p>
   </div>
</div>

<div class="row">
   <div class="large-centered large-10 columns">
      <br /><hr />
   </div>
</div>

<div class="row">
   <div class="push-3 large-centered large-12 columns">
      <br /><h3>We, altogether, are the enn-Gang </h3>
   </div>
</div>

<div class="row">
   <div class="large-centered large-8 columns ">
    <p class="text-center">Introducing the strength behind ennkeypee. Nothing as ennkeypee would have ever existed without this team.</p>
   </div>
</div>
<br />
<div class="row">

   <div class="large-centered large-8 columns ">

     <div class="row">
       <div class="large-4 columns">
         <img src="images/kondo.jpg" />
       </div>
       <div class="large-4 columns">
         <img src="images/daddye.jpg" />
       </div>
       <div class="large-4 columns">
         <img src="images/joshua.jpg" />
       </div>
     </div>
    <br />
     
     <div class="row">
       <div class="large-4 columns">
         <img src="images/nathan.jpg" />
       </div>
       <div class="large-4 columns">
         <img src="images/namusyaka.jpg" />
       </div>
       <div class="large-4 columns">
         <img src="images/dario.jpg" />
       </div>
     </div>
    <br />
  
     <div class="row">
       <div class="large-4 columns">
         <img src="images/joshua.jpg" />
       </div>
       <div class="large-4 columns">
         <img src="images/nathan.jpg" />
       </div>
       <div class="large-4 columns">
         <img src="images/kondo.jpg" />
       </div>
     </div>
    <br />

    
   </div>
</div><br />

<div class="row">

   <hr />
   <div class="large-10 columns">
      <p><b>Over everything what we have is a common vision</b> - to go through, please push the button.</p>
   </div>
   
   <div class=" large-2 columns">
      <a class="small button href="/vision">Vision</a>
   </div>

</div>

