   <section class=" panel header-panel">
            <div class="large-centered small-3 medium-6 large-6 columns">
              
                  <h1>Get in Touch</h1>

                  <ul class=" inline-list header-list center">
                    <li>
                        <a href="/getit">Social Connection</a>
                    </li>

                    <li>
                        <a href="/learnit">Individuals</a>
                    </li>
                    <li>
                        <a href="/pipesforprojects">Team</a>
                    </li>
                    <li>
                        <a href="/getsuport">New Delhi</a>
                    </li>
                </ul>        
           
</div>

    </section>

<div class="main_body">
<div class="row">
   <div class="large-centered large-8 columns">
      <p><b>We are very new people going with our interests just to better-ify the VIRTUAL LIFE.</b> We love to create the soft-products with anything but with beauty at hand. We love the world of Open Source and want to keep the same vision continued. What we learn is taught by our <a href="/school">school</a> open to all free of cost and time.</p>
   </div>
</div>

<div class="row">
   <div class="large-centered large-10 columns">
      <br /><hr />
   </div>
</div>

<div class="row">
   <div class="large-centered large-9 columns">
      <br /><h3>We are competing, due to our beautiful <a href="/product">PRODUCTS</a>.</h3>
   </div>
</div>

<div class="row">
   <div class="large-centered large-6 columns ">
    <p class="text-center">Some of the <a href="/product">Products</a> we have assembled, designed, developed and are best known for.</p>
   </div>
</div>
<br />
<div class="row">
   <div class="large-5 columns ">
    <p class="small-dark">Some of the <a href="/product">Products</a> we have assembled, designed, developed and are known for among consumers. Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacond, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are kn.</p><a href="/product" class="tiny button">See all</a>
   </div>
  
    <div class="large-7 columns ">
       <img src="images/ennkeypee_bg.jpg" />
   </div>
</div>

<div class="row">
   <div class="large-centered large-12 columns">
      <br /><hr />
   </div>
</div>

<div class="row full-width">
   <div class="push-3 large-centered large-12 columns">
      <br /><h4><a href="/service">SERVICES</a>, we provide to our very-satisfied customers.</h4>
   </div>
</div>

<div class="row">
   <div class="large-centered large-8 columns ">
    <p class="text-center">Here's why and how we came into existence.</p>
   </div>
</div>
<br />
<div class="row">

   <div class="large-7 columns ">
     <div class="row">
       <div class="large-6 columns">
         <img src="images/image1.jpg" />
       </div>

       <div class="large-6 columns">
         <img src="images/image2.jpg" />
       </div>
     </div>
    <br />
    <div class="row">
       <div class="large-6 columns">
         <img src="images/image3.jpg" />
       </div>

       <div class="large-6 columns">
         <img src="images/image1.jpg" />
       </div>
     </div>
   </div>

   <div class="large-5 columns ">
    <p class="small-dark text-right">Some of the <a href="/service">Services</a> we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp wknown for among consumers.Bacond, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are kn.</p><a href="/service" class="tiny button right">See all</a>
   </div>
</div><br /><hr />

<div class="row">
   <div class="large-centered large-8 columns">
      <p><b>We are very new people going with our interests just to better-ify the VIRTUAL LIFE.</b> We love to create the soft-products with anything but with beauty at hand. We love the world of Open Source and want to keep the same vision continued. What we learn is taught by our <a href="/shop">shop</a> open to all free of cost and time.</p>
   </div>
</div>



</div>

