<body>





<!-----HEADER WITH NAV AND TRANPARENT BG---->

    <div class="sticky">
        <nav class="transparent top-bar" data-topbar>


            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="/"><img src="images/ennkeypee_text_logo_white.png"</a>
                    </h1>
                </li>

                <li class="toggle-topbar menu-icon">
                    <a href="#">
                        <span>Menu</span>
                    </a>
                </li>
            </ul>


            <section class="top-bar-section">
                <ul id="nav" class="right">
                    <li>
                        <a href="/about">About</a>
                    </li>

                    <li>
                        <a href="/blog">Blog</a>
                    </li>

                    <li>
                        <a href="/news">News & Events</a>
                    </li>

                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                   
                </ul>

            </section>

        </nav>
    </div>

<!-----HEADER ENDS---->




<!--HOME BANNER-->

     <section class="home">
        <div class="row">
            <div class="small-centered medium-centered large-centered small-3 medium-6 large-6 columns">
              
                <h3>Feel the Virtual-ity</h3>

                <p class="text-center">
			<b>ennkeypee Commons</b> is a software firm to create digital products with unique beautiful user-experience. Through intelligent coding via means of idea generation, inspiration, immitation, assembling, programming and hacking we create soft products for the people who beleive in quality.
                </p>

                <p class="text-center">
                    <a href="http://ennkeypee.com/tour" class="small button">Tour <b><u>ennkeypee</u> →</b></a>
                </p>

            </div>
        </div>
    </section>

<!--BANNER ENDS-->





<!--MAIN BODY CONTENT STARTS-->

<div class="main_body">
<div class="row">
   <div class="large-centered large-8 columns">
      <p><b>We are coders highy focussed towards the presentation and user experience of the product.</b> We love to create the soft-products with anything but beauty at hand, always beleived in Open Source Movement and are leading to strengthen the same trend. <br /><br/>

Want to join us? Learn at our <a href="/school">school</a> to work with us in Laboratory or email us at <a href="">joining@ennkeypee.com</a>.</p>
   </div>
</div>

<div class="row">
   <div class="large-centered large-10 columns">
      <br /><hr />
   </div>
</div><br /><br />
  
       <div class="row">
       <div style="padding-left:0; padding-right:0;" class="large-3 columns">
         <a href="">
           <img src="images/laboratory.png" /><br /><br />
           <p class="text-center"><b>LABORATORY</b><br />Helping many to create their softwares beautifully, our laboratory just stands out whenever we are to create any product.</p>
           <p class="small-dark text-center"><a href="/service">Let's Create &rarr;</a></p>
         </a>
       </div>

       <div style="padding-left:0; padding-right:0;" class="large-3 columns">
         <a>
           <img src="images/tennpipes.png" /><br /><br />
           <p class="text-center"><b>TENNPIPES</b><br />Helping many to create their softwares beautifully, our laboratory just stands out whenever we are to create any product.</p>
         <p class="small-dark text-center"><a href="/service">Get Tennpipes &rarr;</a></p>
         </a>
       </div>

       <div style="padding-left:0; padding-right:0;" class="large-3 columns">
         <a>
           <img src="images/pcofenn.png" /><br /><br />
           <p class="text-center"><b>PCOFENN</b><br />Helping many to create their softwares beautifully, our laboratory just stands out whenever we are to create any product.</p>
           <p class="small-dark text-center"><a href="/service">Try PCofenn &rarr;</a></p>
         </a>
       </div>

       <div style="padding-left:0; padding-right:0;" class="large-3 columns">
         <a href="">
           <img src="images/school.png" /><br /><br />
           <p class="text-center"><b>ACADEMY</b><br />Helping many to create their softwares beautifully, our laboratory just stands out whenever we are to create any product.</p>
            <p class="small-dark text-center"><a href="/service">Learn Skills &rarr;</a></p>
         </a>
       </div>
     </div>

<div class="row">
   <div class="large-centered large-12 columns">
      <br /><hr />
   </div>
</div>

<div class="row">
   <div class="large-centered large-8 columns">
      <br /><h4>Immitation, too is a creative skill if nurtured rightly.</h4>
   </div>
</div>

<div class="row">
   <div class="large-centered large-6 columns ">
    <p class="text-center">Latest from our BLOG zone.</p>
   </div>
</div>
<br />
<div class="row">

   <div class="large-7 columns ">
      <img src="images/ennkeypee_bg.jpg" />
   </div>

   <div class="large-5 columns ">
    <p class="small-dark text-right">Some of the <a href="/service">Services</a> we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp wknown for among consumers.Bacond, developed and are known for among consumers.Bacon Ipsum is pog fork beef is a goof isp we have assembled, designed, developed and are kn.</p><a href="/service" class="tiny button right">Read all</a>
   </div>
</div><br /><br /><br />

<div class="row panel full-width">
 
  <div class="row">
   <div class="large-centered large-8 columns ">
    <p class="text-center">Here're some we have served till now, making all happy.</p>
   </div>
</div>
  

  <div class="row">

   <div class="push-2 large-2 columns">
      <i class="fi-monitor"></i>
   </div>
   <div class="push-2 large-2 columns">
      <i class="fi-music"></i>
   </div>
   <div class="push-2 large-2 columns">
      <i class="fi-social-dribbble"></i>
   </div>
   <div class="push-2 large-2 columns">
      <i class="fi-social-flickr"></i>
   </div>
   <div class="large-2 columns">
      <i class="fi-social-zerply"></i>
   </div>
   
  </div>
   
  <br />

  <div class="row">

   <div class="push-3 large-3 columns">
      <i class="fi-microphone"></i>
   </div>
   <div class="push-3 large-3 columns">
      <i class="fi-megaphone"></i>
   </div>
   <div class="large-3 columns">
      <a href=""><i>You?</i></a>
   </div>
   
  </div>

</div>



</div>


 

