<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ennkeypee - Intelligent Coding</title>
    <link rel="stylesheet" href="stylesheets/tennpipes.css" />
    <link rel="stylesheet" href="stylesheets/ennkeypee.css" />
    <link rel="stylesheet" href="images/icons/tennpipes-icons.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
    

</head>


<%= yield%>


<!-- Footer -->


<div class="footer">
    <div class="row">
      <div class="large-7 column">

        <div class="row">
          <ul class="inline-list"><li><a href="/"><img src="images/ennkeypee_whitelogo.png" /></a></li><li><a href="/about">ABOUT</li></a><li><a href="/blog">BLOG</a></li><li><a href="/news">NEWS & EVENTS</li></a><li><a href="/contact">CONTACT</li></a><li><a href="/sitemap">SITEMAP</li></a></ul>
        </div>
   
        <div class="row copyright">
        Copyright &copy; 2015 <b>ennkeypee</b> Commons. All rights reserved. 
        </div>
      </div>
      <div class="large-5 column">

        <div class="row" style="text-align: right;">
                    <ul class="inline-list right"><li><a href="https://github.com/ennkeypee"><i class="fi-social-github button"></i></a></li><li><a href="https://dribbble.com/ennkeypee"><i class="fi-social-dribbble button"></i></a></li><li><a href="mailto:info@ennkeypee.com?Subject=Want%20Information" target="_top"><i class="fi-mail button"></i></a></li><li></li></ul>
        </div>


      </div>
    </div>
</div>

  </body>

</html>
